.mount-viewer {
  padding: 10px;
}

.mount-viewer img {
  max-width: 100%;
  height: 435px;
  margin: 8px 0;
}

.mount-name {
  font-size: 23pt;
  padding-bottom: 12px;
  margin-bottom: 11px;
  border-bottom: solid 1px;
}

.mount-desc {
  font-size: 12pt;
}
