.nav-list {
  padding: 5px 0;
  cursor: pointer;
  overflow-y: auto;
  height: 492px;
  font-size: 12pt;
  margin-top: 9px;
}

.nav-list > a {
  display: block;
  padding: 3px 4px;
  border-bottom: solid 1px;
  text-decoration: none;
  color: inherit;
}

.nav-list > a:last-child {
  border: none;
}
.nav-list > a:hover {
  background-color: grey;
  text-decoration: none;
  color: white;
}

#mount-selected {
  background: grey;
    color: white;
}
