.nav-list {
  font-size: 10pt;
  padding: 5px 0;
  cursor: pointer;
  overflow-y: auto;
  height: 390px;
}

.nav-list-row {
  display: block;
  padding: 0 4px;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}
.nav-list-row:hover {
  background-color: grey;
  text-decoration: none;
  color: white;
}
