.mount-viewer {
  padding: 10px;
  width: 350px;
  height: fit-content;
}

.mount-viewer img {
  max-width: 100%;
  max-height: 100%;
}

.mount-name {
  font-size: 15pt;
}

.mount-desc {
  font-size: 10pt;
}
