html{  
  background-color: black;
  background-color: #282c34 important!;
}
.app {
  text-align: center;
  font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
  min-height: 100vh;
  color: white;
  margin: 10px;

}


.spacer {
	flex: 1;
}  