html,
body {
  height: 100%;
  font: 400 24px/21px "Roboto", "Helvetica", "Arial", sans-serif;
}
.app {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-body {
  flex: 1;
  margin-top: 95px;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge-label{
  font-style: italic;
}

button.MuiIconButton-root{
  outline: 0;
}