html,
body {
  height: 100%;
}
.app {
  text-align: center;
  font: 400 16px/20px 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-body {
  flex: 1;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
